{% extends 'bootstrap.html' %}

{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_content %}
    <div class="container">
      <h4 class="display-4">
          <a href="{% url 'home' %}" class="text-dark text-decoration-none">
              {% block title %}Dynamic Calender{% endblock %}
          </a>
      </h4>
        

        <p>
            {% if request.user.is_authenticated %}
            <h6 class="h6">Hello <strong>{{request.user}}</strong> - <a href="{% url 'logout' %}" class="text-decoration-none text-muted">Logout</a></h6>
            {% else %}
            <h6 class="h6"><a href="{% url 'login' %}">Login / Register</a></h6>
            {% endif %}
        </p>

        <hr>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}